<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
	<context:property-placeholder location="classpath:config.properties" />
 
	<!-- rocketmq配置 -->
	<bean id="messageListeners" class="com.wf.rocketmq.test.MessageListenerImpl"></bean>
	<!-- 导入Spring配置文件 -->
	<bean id="rocketmqConsumer" class="org.apache.rocketmq.client.consumer.DefaultMQPushConsumer" init-method="start" destroy-method="shutdown">
		<property name="consumerGroup" value="${rocketmq.consumerGroup}" />
		<property name="namesrvAddr" value="${rocketmq.namesrvAddr}" />
		<property name="messageListener" ref="messageListeners" />
		<property name="subscription">
			<map>
				<entry key="${rocketmq.topic}" value="${rocketmq.tags}" />
			</map>
		</property>
	</bean>
	 
	<bean id="rocketMQProducer" class="com.wf.rocketmq.test.RocketMQProducer" init-method="init" destroy-method="destroy">
		<property name="producerGroup" value="${rocketmq.producer.group}" />
		<property name="namesrvAddr" value="${rocketmq.namesrvAddr}" />
		<!-- 失败重试次数 <property name="retryTimes" value="${rocketmq.producer.retryTimes}" /> -->
	</bean>
</beans>